#recent-banner{
	height: 550px;
	padding: 20px 10px;
	background: #3ca3da;
	position: fixed;
	top: 20%;
	right: 20px;
	display: inline-block;
	z-index: 5;
	border-radius: 10px;
	color: white;
	text-align: center;
}

#recent-banner img{
	border-radius: 50%;
	width: 80px;
}

@media screen and (max-width:1350px){
	#recent-banner{
		display: none;
	}
}