<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bestMapper">
	
	<insert id="addBest" parameterType="ingestion">
		INSERT INTO best_ingestion (id, foodname, count)
		VALUES ( #{id}, #{food.foodName}, 1 )
	</insert>
	
	<update id="updateBestUp" parameterType="ingestion">
		UPDATE best_ingestion SET count = count+1
		WHERE id = #{id} and foodName = #{food.foodName}
	</update>
	
	<update id="updateBestQuantity" parameterType="ingestion">
		UPDATE best_ingestion SET count = count + #{quantity}
		WHERE id = #{id} and foodName = #{food.foodName}
	</update>
	
	<select id="selectBestLimit" parameterType="string" resultType="best">
		SELECT id, foodName, count FROM best_ingestion
		WHERE id = #{value} ORDER BY count DESC limit 5
	</select>
</mapper>
